;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Thu Feb 17 14:18:31 2011
;; Desktop file format version 206
;; Emacs version 23.0.60.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("print" "lsstSim" "trace" "Back" "log"))
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/u/bick/sandbox/lsst/testQA/trunk/tests/psfPhotometry.py"
  "psfPhotometry.py"
  'python-mode
  nil
  2490
  '(1273 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/u/bick/sandbox/lsst/testQA/trunk/python/lsst/testing/pipeQA/TestData.py"
  "TestData.py"
  'python-mode
  nil
  14368
  '(14122 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/u/bick/sandbox/lsst/testQA/trunk/python/lsst/testing/pipeQA/TestSet.py"
  "TestSet.py"
  'python-mode
  nil
  4841
  '(103 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/u/bick/sandbox/lsst/testQA/trunk/www/libdisplay.php"
  "libdisplay.php"
  'php-mode
  '(abbrev-mode)
  6649
  '(6702 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (case-fold-search . t)))

(desktop-create-buffer 206
  "/u/bick/sandbox/lsst/testQA/trunk/www/logs.php"
  "logs.php"
  'php-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (case-fold-search . t)))

(desktop-create-buffer 206
  "/u/bick/sandbox/lsst/testQA/trunk/policy/lsstSim.paf"
  "lsstSim.paf"
  'fundamental-mode
  nil
  1161
  '(1006 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/u/bick/sandbox/lsst/testQA/trunk/python/lsst/testing/pipeQA/PipeRunner.py"
  "PipeRunner.py"
  'python-mode
  nil
  1826
  '(nil nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/u/bick/sandbox/lsst/testQA/trunk/www/summary.php"
  "summary.php"
  'php-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (case-fold-search . t)))

(desktop-create-buffer 206
  "/u/bick/sandbox/lsst/testQA/trunk/python/lsst/testing/pipeQA/LogConverter.py"
  "LogConverter.py"
  'python-mode
  nil
  1694
  '(nil nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/u/bick/sandbox/lsst/testQA/trunk/SConstruct"
  "SConstruct"
  'python-mode
  nil
  531
  '(nil nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/u/bick/sandbox/lsst/testQA/trunk/tests/SConscript"
  "SConscript"
  'python-mode
  nil
  151
  '(nil nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/u/bick/sandbox/lsst/testQA/trunk/python/lsst/testing/pipeQA/Manifest.py"
  "Manifest.py"
  'python-mode
  nil
  55
  '(1 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/u/bick/sandbox/lsst/testQA/trunk/bin/writeTestDataManifest.py"
  "writeTestDataManifest.py"
  'python-mode
  nil
  1031
  '(306 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

